MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/suastawa_consulting?retryWrites=true&w=majority
JWT_SECRET_KEY=ganti-dengan-kunci-rahasia
CLOUDINARY_CLOUD_NAME=nama-cloud
CLOUDINARY_API_KEY=api-key
CLOUDINARY_API_SECRET=api-secret
PORT=5000
